<?php
namespace MetronicTheme;

return [

    'router' => [
        'routes' => [
            'assets' => [
                'type' => 'Laminas\Router\Http\Segment',
                'options' => [
                    'route' => '/',
                ],
            ]
        ]
    ],


    'metronic-theme'=>[
        /**
         * controller che implementa MetronicTheme\NavigationControllerInterface
         */
        'elements_controller'=>''
    ],


];
